﻿
@{
    ViewData["Title"] = "BookSeat";
    int count = 0;
}

<h1>BookSeat</h1>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <tbody>
                @for(int j = 1; j <= 4; j++)
                {
                    <tr>
                        @for (int i = 1; i <= 12; i++)
                        {
                            if (i % 4 != 0 || i == 12)
                            {
                                <td><div id="@count" class="square" onclick="changeColor(this)"></div></td>
                            }
                            else
                            {
                                <td><div id="@count" class="square" onclick="changeColor(this)"></div></td>
                                <td></td>
                            }
                            count++;
                        }
                    </tr>
                    if(j == 2)
                    {
                        <tr><td></td></tr>
                    }
                }
             
            </tbody>
        </table>
    </div>
</div>

<script>
    var selectedSeats = []; 

    function changeColor(element) {
        var seatIndex = element.id;
        var seatIndexPosition = selectedSeats.indexOf(seatIndex);
        if (seatIndexPosition === -1) {
            selectedSeats.push(seatIndex);
            element.style.backgroundColor = 'green';
        } else {
            selectedSeats.splice(seatIndexPosition, 1);
            element.style.backgroundColor = 'lightblue';
        }
        console.log(selectedSeats)
    }

</script>

<style>
    .square {
        width: 100%;
        height: 50px; 
        background-color: lightblue; 
        border-radius: 10px;
        margin: 5px; 
        position: relative;
    }

    .square::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40%; 
        background-color: blueviolet; 
    }
</style>