﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using G4.Models
@model Account;
<style>
    form {
        width: 300px;
        margin: 0 auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    /* Định dạng tiêu đề h1 */
    h1 {
        text-align: center;
        font-size: 24px;
        color: #333;
    }

    /* Định dạng thông báo lỗi */
    h3 {
        color: red;
        margin-top: 10px;
    }

    /* Định dạng nhãn và trường nhập dữ liệu */
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    /* Định dạng nút gửi */
    input[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block; 
        margin: 0 auto;
        
    }

        /* Định dạng nút gửi khi đưa chuột qua */
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
</style>
<h1>Login</h1>
<h3 style="color: red;">@ViewBag.Error</h3>
<form asp-controller="Home" asp-action="Login" method="post">
    Username <input asp-for="Username" type="text" /><br />
    Password: <input asp-for="Password" type="text" /><br />
    <input type="submit" value="login"></input>
</form>